.hero-contact-list-class{
    display: flex;
    flex-direction: column;

}

.contact-list-class{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
}

.delete-list-item{
    margin-left: 2%;
    height: 25px;
    width: 25px;
    background-color: red;
    cursor: pointer;
}

.avatar-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gainsboro;
}

.id-sec{
    /* margin-left: 2%; */
    height: 25px;
    width: 25px;
    background-color: lightseagreen;
    cursor: pointer;
}