.hero-contact-list-class{
    display: flex;
    flex-direction: column;

}

.contact-list-class{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
}

.delete-list-item{
    margin-left: 2%;
    height: 25px;
    width: 25px;
    background-color: red;
    cursor: pointer;
}

.edit-list-item{
    margin-left: 2%;
    height: 25px;
    width: 25px;
    background-color: yellowgreen;
    cursor: pointer;
}

.avatar-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gainsboro;
}

.id-sec{
    /* margin-left: 2%; */
    height: 25px;
    width: 25px;
    background-color: lightseagreen;
    cursor: pointer;
}

/* .real-info{
    /* color: green; */
    /* background-color: antiquewhite; */
/* } */ 

.forms-input{
    width: 30%;
}

.enter-details{
    width: 30%;
    /* font-size: 90%; */
    background-color: cadetblue;
    color: whitesmoke;
}

.add-new-contact{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.button_cont{
    margin-top: 2%;
    background-color: cadetblue;
}

.submit-btn{
    background-color: cadetblue;
    margin-top: 2%;
}

.input{
    margin-top: 2%;
    width: 50%;
    background-color: lightgray;
    color:black;
}

.when-editing{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 36%;
}

.id-sec-edit{
    height: 25px;
    width: 25px;
    background-color: lightseagreen;
    cursor: pointer;
    margin-left: 43%;
}

.avatar-image-edit{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gainsboro;
    margin-left: 40%;
}

.delete-list-item-edit{
    background-color: red;
}

.real-info-edit{
    background-color: green;
}
